# Loadings

### Large df formation

In [1]:

# region wise analysis imports
import folium
from folium.plugins import MarkerCluster

# sklearn imports
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.cluster import AffinityPropagation
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.decomposition import NMF

# topic analysis imports and word cloud imports
import pandas as pd 
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import LatentDirichletAllocation
import gensim
import gensim.corpora as corpora
import re
import numpy as np
from pprint import pprint
import pyLDAvis
import pyLDAvis.gensim
pyLDAvis.enable_notebook()

import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)

from wordcloud import WordCloud

# sns plots

from collections import Counter
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

# network visualization

from itertools import combinations
import networkx as nx
from nxviz import CircosPlot

# imports for survey analyses

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()
%matplotlib inline

import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls

pd.options.mode.chained_assignment = None
pd.options.display.max_columns = 999

import datetime

import pytz

import ast

# detailed summaries

import sweetviz as sv

/home/mrinalmanu/miniconda3/envs/lda/lib/python3.10/site-packages/nxviz/__init__.py:18: UserWarning:
nxviz has a new API! Version 0.7.3 onwards, the old class-based API is being
deprecated in favour of a new API focused on advancing a grammar of network
graphics. If your plotting code depends on the old API, please consider
pinning nxviz at version 0.7.3, as the new API will break your old code.

To check out the new API, please head over to the docs at
https://ericmjl.github.io/nxviz/ to learn more. We hope you enjoy using it!

(This deprecation message will go away in version 1.0.)

  warnings.warn(

In [2]:
mcr_df = pd.read_csv("/home/mrinalmanu/Documents/iglas_le/iGLAS-LE For Mrinal - value names.csv", low_memory=False)
metadata = pd.read_csv("/home/mrinalmanu/Documents/iglas_le/metadata.csv", sep=':', low_memory=False)
col_dg = ['Progress', 'UserLanguage', 'Collection']
col_all = metadata['Variable']
# annotation dataframe
mcr_df_ann = mcr_df[mcr_df.columns & col_dg]
# all variable
mcr_df_all = mcr_df[mcr_df.columns & col_all]
# all annotated
mcr_df_all_n = pd.concat([mcr_df_ann, mcr_df_all], axis=1)
mcr_df_all_n["id"] = mcr_df_all_n.index
ncol_dg = ['id', 'Progress', 'UserLanguage', 'Collection']
dfx = pd.melt(mcr_df_all_n, id_vars=list(ncol_dg))
dfx["Variable"] = dfx["variable"]
del dfx["variable"]

/tmp/ipykernel_8738/2273107825.py:6: FutureWarning:

Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead.

/tmp/ipykernel_8738/2273107825.py:8: FutureWarning:

Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead.

In [3]:
t_all = pd.merge(dfx, metadata, on='Variable')
values_t_all = t_all
mcr_df = pd.read_csv("/home/mrinalmanu/Documents/iglas_le/iGLAS-LE.csv", low_memory=False)
# all variable
mcr_df_all = mcr_df[mcr_df.columns & col_all]
# all annotated
mcr_df_all_n = pd.concat([mcr_df_ann, mcr_df_all], axis=1)
mcr_df_all_n["id"] = mcr_df_all_n.index
ncol_dg = ['id', 'Progress', 'UserLanguage', 'Collection']
dfx = pd.melt(mcr_df_all_n, id_vars=list(ncol_dg))
dfx["Variable"] = dfx["variable"]
del dfx["variable"]
t_all = pd.merge(dfx, metadata, on='Variable')
codes_t_all = t_all

/tmp/ipykernel_8738/2434295167.py:5: FutureWarning:

Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead.

In [4]:
# all composites
gr_df = codes_t_all
comp_df = gr_df
#filter all empty strings from values
comp_df["value"] = comp_df["value"].map(str)
filter = comp_df["value"] != ' '
ndf = comp_df[filter]
filter = ndf["Composite"] == 'Yes'
new_df = ndf[filter]
new_df['Group'].unique()
# delete datframe rows that do not contain a number string
new_df = new_df[new_df['value'].apply(lambda x: str(x).isdigit())]
new_df['value'].unique()
ndf = new_df
### 37
filter = ndf["Group"] == 37
ndf_37 = ndf[filter]
ndf_37['value'].replace('1','Not applicable',inplace=True)
ndf_37['value'].replace('2','Charity sector',inplace=True)
ndf_37['value'].replace('3','Construction and maintenance',inplace=True)
ndf_37['value'].replace('4','Education',inplace=True)
ndf_37['value'].replace('5','Engineering Computing and ICT',inplace=True)
ndf_37['value'].replace('6','Communication Advertising and Marketing',inplace=True)
ndf_37['value'].replace('7','Farming and agricultural',inplace=True)
ndf_37['value'].replace('17','Genetics',inplace=True)
ndf_37['value'].replace('8','Governmental employee',inplace=True)
ndf_37['value'].replace('9','Housing and accommodation',inplace=True)
ndf_37['value'].replace('10','Law',inplace=True)
ndf_37['value'].replace('11','Management',inplace=True)
ndf_37['value'].replace('12','Medicine',inplace=True)
ndf_37['value'].replace('13','Retired',inplace=True)
ndf_37['value'].replace('14','Sales and office work',inplace=True)
ndf_37['value'].replace('15','Science and research',inplace=True)
ndf_37['value'].replace('16','Other',inplace=True)
#### 23
filter = ndf["Group"] == 23
ndf_23 = ndf[filter]
ndf_23['Option'] = ndf_23['Option']
### 25
filter = ndf["Group"] == 25
ndf_25 = ndf[filter]
ndf_25['value'].replace('1','Yes1',inplace=True)
ndf_25['value'].replace('2','No1',inplace=True)
ndf_25['value'].replace('3','Do not know1',inplace=True)
### 20
filter = ndf["Group"] == 20
ndf_20 = ndf[filter]
ndf_20['value'].replace('1','General Research',inplace=True)
ndf_20['value'].replace('2','Agronomist',inplace=True)
ndf_20['value'].replace('3','Counselling',inplace=True)
ndf_20['value'].replace('4','Law',inplace=True)
ndf_20['value'].replace('5','Medical',inplace=True)
ndf_20['value'].replace('6','Behavioural',inplace=True)
ndf_20['value'].replace('7','Educational',inplace=True)
ndf_20['value'].replace('8','Other',inplace=True)
### 2
filter = ndf["Group"] == 2
ndf_2 = ndf[filter]
ndf_2['value'].replace('1','Yes2',inplace=True)
ndf_2['value'].replace('2','No2',inplace=True)
ndf_2['value'].replace('3','Do not know2',inplace=True)
### 4
filter = ndf["Group"] == 4
ndf_4 = ndf[filter]
ndf_4['value'].replace('1','Yes3',inplace=True)
ndf_4['value'].replace('2','No3',inplace=True)
ndf_4['value'].replace('3','Do not know3',inplace=True)
### 5
filter = ndf["Group"] == 5
ndf_5 = ndf[filter]
ndf_5['value'].replace('1','Yes4',inplace=True)
ndf_5['value'].replace('2','No4',inplace=True)
ndf_5['value'].replace('3','Do not know4',inplace=True)
### 7
filter = ndf["Group"] == 7
ndf_7 = ndf[filter]
ndf_7['value'].replace('1','Yes5',inplace=True)
ndf_7['value'].replace('2','No5',inplace=True)
ndf_7['value'].replace('3','Do not know5',inplace=True)
### 10
filter = ndf["Group"] == 10
ndf_10 = ndf[filter]
ndf_10['value'].replace('1','Increases the risk of discrimination',inplace=True)
ndf_10['value'].replace('2','Reduces the risk of discrimination',inplace=True)
ndf_10['value'].replace('3','Makes no difference to the risk of discrimination',inplace=True)
ndf_10['value'].replace('4','Both increases and decreases the risk of discrimination depending on how genetics data are regulated',inplace=True)
ndf_10['value'].replace('5','Do not know6',inplace=True)
### 11
filter = ndf["Group"] == 11
ndf_11 = ndf[filter]
ndf_11['value'].replace('1','Benefits outweigh the risks',inplace=True)
ndf_11['value'].replace('2','Risk outweighs the benefits',inplace=True)
ndf_11['value'].replace('3','Risks and benefits balance each-other out',inplace=True)
ndf_11['value'].replace('4','Do not know7',inplace=True)
### 12
filter = ndf["Group"] == 12
ndf_12 = ndf[filter]
ndf_12['value'].replace('1','Always voluntary',inplace=True)
ndf_12['value'].replace('2','Compulsory but under certain circumstances',inplace=True)
ndf_12['value'].replace('3','Do not know8',inplace=True)
### 14
filter = ndf["Group"] == 14
ndf_14 = ndf[filter]
ndf_14['value'].replace('1','Yes9',inplace=True)
ndf_14['value'].replace('2','No9',inplace=True)
ndf_14['value'].replace('3','Not applicable9',inplace=True)
ndf_14['value'].replace('4','Do not know9',inplace=True)
### 15
filter = ndf["Group"] == 15
ndf_15 = ndf[filter]
ndf_15['value'].replace('1','Sufficient10',inplace=True)
ndf_15['value'].replace('2','Insufficient10',inplace=True)
ndf_15['value'].replace('3','Do not know10',inplace=True)
### 33
filter = ndf["Group"] == 33
ndf_33 = ndf[filter]
ndf_33['value'].replace('1','Pre-GCSE school leavers certificates',inplace=True)
ndf_33['value'].replace('2','GCSE or equivalent school leavers certificates',inplace=True)
ndf_33['value'].replace('3','A-level or equivalent',inplace=True)
ndf_33['value'].replace('4','Undergraduate',inplace=True)
ndf_33['value'].replace('5','Of Master',inplace=True)
ndf_33['value'].replace('6','Doctoral degree',inplace=True)
ndf_33['value'].replace('7','Post-doctoral qualification',inplace=True)
### 34
filter = ndf["Group"] == 34
ndf_34 = ndf[filter]
ndf_34['value'].replace('1','Yes11',inplace=True)
ndf_34['value'].replace('2','No11',inplace=True)
### 35
filter = ndf["Group"] == 35
ndf_35 = ndf[filter]
ndf_35['value'].replace('1','Art and Design',inplace=True)
ndf_35['value'].replace('2','Ancient History and Archaeology',inplace=True)
ndf_35['value'].replace('3','Biology',inplace=True)
ndf_35['value'].replace('4','Chemistry',inplace=True)
ndf_35['value'].replace('5','Classics',inplace=True)
ndf_35['value'].replace('6','Communication Advertising and Marketing',inplace=True)
ndf_35['value'].replace('7','Economics and Business Studies',inplace=True)
ndf_35['value'].replace('8','Education',inplace=True)
ndf_35['value'].replace('9','Electronics Engineering Computing and ICT',inplace=True)
ndf_35['value'].replace('10','English',inplace=True)
ndf_35['value'].replace('11','Environmental Sciences',inplace=True)
ndf_35['value'].replace('12','Genetics',inplace=True)
ndf_35['value'].replace('13','Geology',inplace=True)
ndf_35['value'].replace('14','Geography',inplace=True)
ndf_35['value'].replace('15','Government and Politics',inplace=True)
ndf_35['value'].replace('16','Health and Social Care',inplace=True)
ndf_35['value'].replace('17','History',inplace=True)
ndf_35['value'].replace('18','Languages',inplace=True)
ndf_35['value'].replace('19','Law',inplace=True)
ndf_35['value'].replace('20','Mathematics',inplace=True)
ndf_35['value'].replace('21','Media Studies',inplace=True)
ndf_35['value'].replace('22','Medicine',inplace=True)
ndf_35['value'].replace('23','Music',inplace=True)
ndf_35['value'].replace('24','Performance and Theatrical Arts',inplace=True)
ndf_35['value'].replace('25','Philosophy Religion and Ethics',inplace=True)
ndf_35['value'].replace('26','Physics',inplace=True)
ndf_35['value'].replace('27','Psychology',inplace=True)
ndf_35['value'].replace('28','Sociology',inplace=True)
ndf_35['value'].replace('29','Sports and Exercise Science',inplace=True)
ndf_35['value'].replace('30','Statistics and research methods',inplace=True)
ndf_35['value'].replace('31','Travel and Tourism',inplace=True)
ndf_35['value'].replace('32','Other',inplace=True)
### 39
filter = ndf["Group"] == 39
ndf_39 = ndf[filter]
ndf_39['Composite'] = 'Text'
### 44
filter = ndf["Group"] == 44
ndf_44 = ndf[filter]
ndf_44['value'].replace('1','Primary school',inplace=True)
ndf_44['value'].replace('2','Secondary school',inplace=True)
ndf_44['value'].replace('3','University',inplace=True)
### 46
filter = ndf["Group"] == 46
ndf_46 = ndf[filter]
ndf_46['value'].replace('1','Less than 1 year',inplace=True)
ndf_46['value'].replace('2','1 to 4 years',inplace=True)
ndf_46['value'].replace('3','5 to 10 years',inplace=True)
ndf_46['value'].replace('4','11 to 20 years',inplace=True)
ndf_46['value'].replace('5','21 or more years',inplace=True)
### 47
filter = ndf["Group"] == 47
ndf_47 = ndf[filter]
ndf_47['Option'] = ndf_47['value']
### 48
filter = ndf["Group"] == 48
ndf_48 = ndf[filter]
ndf_48['value'].replace('1','Teacher',inplace=True)
ndf_48['value'].replace('2','Head teacher',inplace=True)
ndf_48['value'].replace('3','Teaching assistant',inplace=True)
ndf_48['value'].replace('4','Office and admin',inplace=True)
### 49
filter = ndf["Group"] == 49
ndf_49 = ndf[filter]
ndf_49['value'].replace('1','English',inplace=True)
ndf_49['value'].replace('2','Maths',inplace=True)
ndf_49['value'].replace('3','Science',inplace=True)
ndf_49['value'].replace('4','Languages',inplace=True)
ndf_49['value'].replace('5','History',inplace=True)
ndf_49['value'].replace('6','Geography',inplace=True)
ndf_49['value'].replace('7','Physical Education',inplace=True)
ndf_49['value'].replace('8','Art and Design',inplace=True)
ndf_49['value'].replace('9','Music',inplace=True)
ndf_49['value'].replace('10','ICT',inplace=True)
ndf_49['value'].replace('11','Drama',inplace=True)
ndf_49['value'].replace('12','Other',inplace=True)
### 51
filter = ndf["Group"] == 51
ndf_51 = ndf[filter]
ndf_51['value'].replace('1','Academic - Lecturer',inplace=True)
ndf_51['value'].replace('2','Non-Academic - Administration',inplace=True)
### 52
filter = ndf["Group"] == 52
ndf_52 = ndf[filter]
ndf_52['value'].replace('1','Art and Design',inplace=True)
ndf_52['value'].replace('2','Ancient History and Archaeology',inplace=True)
ndf_52['value'].replace('3','Biology',inplace=True)
ndf_52['value'].replace('4','Chemistry',inplace=True)
ndf_52['value'].replace('5','Classics',inplace=True)
ndf_52['value'].replace('6','Communication Advertising and Marketing',inplace=True)
ndf_52['value'].replace('7','Economics and Business Studies',inplace=True)
ndf_52['value'].replace('8','Education',inplace=True)
ndf_52['value'].replace('9','Electronics Engineering Computing and ICT',inplace=True)
ndf_52['value'].replace('10','English',inplace=True)
ndf_52['value'].replace('11','Environmental Sciences',inplace=True)
ndf_52['value'].replace('12','Genetics',inplace=True)
ndf_52['value'].replace('13','Geology',inplace=True)
ndf_52['value'].replace('14','Geography',inplace=True)
ndf_52['value'].replace('15','Government and Politics',inplace=True)
ndf_52['value'].replace('16','Health and Social Care',inplace=True)
ndf_52['value'].replace('17','History',inplace=True)
ndf_52['value'].replace('18','Languages',inplace=True)
ndf_52['value'].replace('19','Law',inplace=True)
ndf_52['value'].replace('20','Mathematics',inplace=True)
ndf_52['value'].replace('21','Media Studies',inplace=True)
ndf_52['value'].replace('22','Medicine',inplace=True)
ndf_52['value'].replace('23','Music',inplace=True)
ndf_52['value'].replace('24','Performance and Theatrical Arts',inplace=True)
ndf_52['value'].replace('25','Philosophy Religion and Ethics',inplace=True)
ndf_52['value'].replace('26','Physics',inplace=True)
ndf_52['value'].replace('27','Psychology',inplace=True)
ndf_52['value'].replace('28','Sociology',inplace=True)
ndf_52['value'].replace('29','Sports and Exercise Science',inplace=True)
ndf_52['value'].replace('30','Statistics and research methods',inplace=True)
ndf_52['value'].replace('31','Travel and Tourism',inplace=True)
ndf_52['value'].replace('32','Other',inplace=True)
### 55
filter = ndf["Group"] == 55
ndf_55 = ndf[filter]
ndf_55['value'].replace('1','Afghanistan',inplace=True)
ndf_55['value'].replace('2','Albania',inplace=True)
ndf_55['value'].replace('3','Algeria',inplace=True)
ndf_55['value'].replace('4','Andorra',inplace=True)
ndf_55['value'].replace('5','Angola',inplace=True)
ndf_55['value'].replace('6','Antigua and Barbuda',inplace=True)
ndf_55['value'].replace('7','Argentina',inplace=True)
ndf_55['value'].replace('8','Armenia',inplace=True)
ndf_55['value'].replace('9','Australia',inplace=True)
ndf_55['value'].replace('10','Austria',inplace=True)
ndf_55['value'].replace('11','Azerbaijan',inplace=True)
ndf_55['value'].replace('12','Bahamas',inplace=True)
ndf_55['value'].replace('13','Bahrain',inplace=True)
ndf_55['value'].replace('14','Bangladesh',inplace=True)
ndf_55['value'].replace('15','Barbados',inplace=True)
ndf_55['value'].replace('16','Belarus',inplace=True)
ndf_55['value'].replace('17','Belgium',inplace=True)
ndf_55['value'].replace('18','Belize',inplace=True)
ndf_55['value'].replace('19','Benin',inplace=True)
ndf_55['value'].replace('20','Bhutan',inplace=True)
ndf_55['value'].replace('21','Bolivia',inplace=True)
ndf_55['value'].replace('22','Bosnia and Herzegovina',inplace=True)
ndf_55['value'].replace('23','Botswana',inplace=True)
ndf_55['value'].replace('24','Brazil',inplace=True)
ndf_55['value'].replace('25','Brunei',inplace=True)
ndf_55['value'].replace('26','Bulgaria',inplace=True)
ndf_55['value'].replace('27','Burkina Faso',inplace=True)
ndf_55['value'].replace('28','Burundi',inplace=True)
ndf_55['value'].replace('29','Cabo Verde',inplace=True)
ndf_55['value'].replace('30','Cambodia',inplace=True)
ndf_55['value'].replace('31','Cameroon',inplace=True)
ndf_55['value'].replace('32','Canada',inplace=True)
ndf_55['value'].replace('33','Central African Republic',inplace=True)
ndf_55['value'].replace('34','Chad',inplace=True)
ndf_55['value'].replace('35','Chile',inplace=True)
ndf_55['value'].replace('36','People s Republic of China',inplace=True)
ndf_55['value'].replace('37','Colombia',inplace=True)
ndf_55['value'].replace('38','Comoros',inplace=True)
ndf_55['value'].replace('39','Congo, Republic of the',inplace=True)
ndf_55['value'].replace('40','Costa Rica',inplace=True)
ndf_55['value'].replace('41','Cote de Ivoire',inplace=True)
ndf_55['value'].replace('42','Croatia',inplace=True)
ndf_55['value'].replace('43','Cuba',inplace=True)
ndf_55['value'].replace('44','Curacao',inplace=True)
ndf_55['value'].replace('45','Cyprus',inplace=True)
ndf_55['value'].replace('46','Czech Republic',inplace=True)
ndf_55['value'].replace('47','Democratic Republic of congo',inplace=True)
ndf_55['value'].replace('48','Denmark',inplace=True)
ndf_55['value'].replace('49','Djibouti',inplace=True)
ndf_55['value'].replace('50','Dominica',inplace=True)
ndf_55['value'].replace('51','Dominican Republic',inplace=True)
ndf_55['value'].replace('52','Ecuador',inplace=True)
ndf_55['value'].replace('53','Egypt',inplace=True)
ndf_55['value'].replace('54','El Salvador',inplace=True)
ndf_55['value'].replace('55','Equatorial Guinea',inplace=True)
ndf_55['value'].replace('56','Eritrea',inplace=True)
ndf_55['value'].replace('57','Estonia',inplace=True)
ndf_55['value'].replace('58','Ethiopia',inplace=True)
ndf_55['value'].replace('59','Fiji',inplace=True)
ndf_55['value'].replace('60','Finland',inplace=True)
ndf_55['value'].replace('61','France',inplace=True)
ndf_55['value'].replace('62','Gabon',inplace=True)
ndf_55['value'].replace('63','Gambia, The',inplace=True)
ndf_55['value'].replace('64','Georgia',inplace=True)
ndf_55['value'].replace('65','Germany',inplace=True)
ndf_55['value'].replace('66','Ghana',inplace=True)
ndf_55['value'].replace('67','Greece',inplace=True)
ndf_55['value'].replace('68','Grenada',inplace=True)
ndf_55['value'].replace('69','Guatemala',inplace=True)
ndf_55['value'].replace('70','Guinea',inplace=True)
ndf_55['value'].replace('71','Guinea-Bissau',inplace=True)
ndf_55['value'].replace('72','Guyana',inplace=True)
ndf_55['value'].replace('73','Haiti',inplace=True)
ndf_55['value'].replace('74','Honduras',inplace=True)
ndf_55['value'].replace('75','Hong Kong',inplace=True)
ndf_55['value'].replace('76','Hungary',inplace=True)
ndf_55['value'].replace('77','Iceland',inplace=True)
ndf_55['value'].replace('78','India',inplace=True)
ndf_55['value'].replace('79','Indonesia',inplace=True)
ndf_55['value'].replace('80','Iran',inplace=True)
ndf_55['value'].replace('81','Iraq',inplace=True)
ndf_55['value'].replace('82','Ireland',inplace=True)
ndf_55['value'].replace('83','Israel',inplace=True)
ndf_55['value'].replace('84','Italy',inplace=True)
ndf_55['value'].replace('85','Jamaica',inplace=True)
ndf_55['value'].replace('86','Japan',inplace=True)
ndf_55['value'].replace('87','Jordan',inplace=True)
ndf_55['value'].replace('88','Kazakhstan',inplace=True)
ndf_55['value'].replace('89','Kenya',inplace=True)
ndf_55['value'].replace('90','Kiribati',inplace=True)
ndf_55['value'].replace('91','Kuwait',inplace=True)
ndf_55['value'].replace('92','Kyrgyzstan',inplace=True)
ndf_55['value'].replace('93','Laos',inplace=True)
ndf_55['value'].replace('94','Latvia',inplace=True)
ndf_55['value'].replace('95','Lebanon',inplace=True)
ndf_55['value'].replace('96','Lesotho',inplace=True)
ndf_55['value'].replace('97','Liberia',inplace=True)
ndf_55['value'].replace('98','Libya',inplace=True)
ndf_55['value'].replace('99','Liechtenstein',inplace=True)
ndf_55['value'].replace('100','Lithuania',inplace=True)
ndf_55['value'].replace('101','Luxembourg',inplace=True)
ndf_55['value'].replace('102','Madagascar',inplace=True)
ndf_55['value'].replace('103','Malawi',inplace=True)
ndf_55['value'].replace('104','Malaysia',inplace=True)
ndf_55['value'].replace('105','Maldives',inplace=True)
ndf_55['value'].replace('106','Mali',inplace=True)
ndf_55['value'].replace('107','Malta',inplace=True)
ndf_55['value'].replace('108','Marshall Islands',inplace=True)
ndf_55['value'].replace('109','Mauritania',inplace=True)
ndf_55['value'].replace('110','Mauritius',inplace=True)
ndf_55['value'].replace('111','Mexico',inplace=True)
ndf_55['value'].replace('112','Micronesia, Federated States of',inplace=True)
ndf_55['value'].replace('113','Monaco',inplace=True)
ndf_55['value'].replace('114','Mongolia',inplace=True)
ndf_55['value'].replace('115','Montenegro',inplace=True)
ndf_55['value'].replace('116','Morocco',inplace=True)
ndf_55['value'].replace('117','Mozambique',inplace=True)
ndf_55['value'].replace('118','Myanmar',inplace=True)
ndf_55['value'].replace('119','Namibia',inplace=True)
ndf_55['value'].replace('120','Nauru',inplace=True)
ndf_55['value'].replace('121','Nepal',inplace=True)
ndf_55['value'].replace('122','Netherlands',inplace=True)
ndf_55['value'].replace('123','New Zealand',inplace=True)
ndf_55['value'].replace('124','Nicaragua',inplace=True)
ndf_55['value'].replace('125','Niger',inplace=True)
ndf_55['value'].replace('126','Nigeria',inplace=True)
ndf_55['value'].replace('127','Norway',inplace=True)
ndf_55['value'].replace('128','Oman',inplace=True)
ndf_55['value'].replace('129','Pakistan',inplace=True)
ndf_55['value'].replace('130','Palau',inplace=True)
ndf_55['value'].replace('131','Panama',inplace=True)
ndf_55['value'].replace('132','Papua New Guinea',inplace=True)
ndf_55['value'].replace('133','Paraguay',inplace=True)
ndf_55['value'].replace('134','Peru',inplace=True)
ndf_55['value'].replace('135','Philippines',inplace=True)
ndf_55['value'].replace('136','Poland',inplace=True)
ndf_55['value'].replace('137','Portugal',inplace=True)
ndf_55['value'].replace('138','Qatar',inplace=True)
ndf_55['value'].replace('139','Republic of Korea',inplace=True)
ndf_55['value'].replace('140','Republic of Moldova',inplace=True)
ndf_55['value'].replace('141','Romania',inplace=True)
ndf_55['value'].replace('142','Russia',inplace=True)
ndf_55['value'].replace('143','Rwanda',inplace=True)
ndf_55['value'].replace('144','Saint Kitts and Nevis',inplace=True)
ndf_55['value'].replace('145','Saint Lucia',inplace=True)
ndf_55['value'].replace('146','Saint Vincent and the Grenadines',inplace=True)
ndf_55['value'].replace('147','Samoa',inplace=True)
ndf_55['value'].replace('148','San Marino',inplace=True)
ndf_55['value'].replace('149','Sao Tome and Principe',inplace=True)
ndf_55['value'].replace('150','Saudi Arabia',inplace=True)
ndf_55['value'].replace('151','Senegal',inplace=True)
ndf_55['value'].replace('152','Serbia',inplace=True)
ndf_55['value'].replace('153','Seychelles',inplace=True)
ndf_55['value'].replace('154','Sierra Leone',inplace=True)
ndf_55['value'].replace('155','Singapore',inplace=True)
ndf_55['value'].replace('156','Slovakia',inplace=True)
ndf_55['value'].replace('157','Slovenia',inplace=True)
ndf_55['value'].replace('158','Solomon Islands',inplace=True)
ndf_55['value'].replace('159','Somalia',inplace=True)
ndf_55['value'].replace('160','South Africa',inplace=True)
ndf_55['value'].replace('161','Spain',inplace=True)
ndf_55['value'].replace('162','Sri Lanka',inplace=True)
ndf_55['value'].replace('163','Sudan',inplace=True)
ndf_55['value'].replace('164','Suriname',inplace=True)
ndf_55['value'].replace('165','Swaziland',inplace=True)
ndf_55['value'].replace('166','Sweden',inplace=True)
ndf_55['value'].replace('167','Switzerland',inplace=True)
ndf_55['value'].replace('168','Syria',inplace=True)
ndf_55['value'].replace('169','Tajikistan',inplace=True)
ndf_55['value'].replace('170','Thailand',inplace=True)
ndf_55['value'].replace('171','Macedonia',inplace=True)
ndf_55['value'].replace('172','Timor-Leste',inplace=True)
ndf_55['value'].replace('173','Togo',inplace=True)
ndf_55['value'].replace('174','Tonga',inplace=True)
ndf_55['value'].replace('175','Trinidad and Tobago',inplace=True)
ndf_55['value'].replace('176','Tunisia',inplace=True)
ndf_55['value'].replace('177','Turkey',inplace=True)
ndf_55['value'].replace('178','Turkmenistan',inplace=True)
ndf_55['value'].replace('179','Tuvalu',inplace=True)
ndf_55['value'].replace('180','Uganda',inplace=True)
ndf_55['value'].replace('181','Ukraine',inplace=True)
ndf_55['value'].replace('182','United Arab Emirates',inplace=True)
ndf_55['value'].replace('183','United Kingdom',inplace=True)
ndf_55['value'].replace('184','Tanzania',inplace=True)
ndf_55['value'].replace('185','United States',inplace=True)
ndf_55['value'].replace('186','Uruguay',inplace=True)
ndf_55['value'].replace('187','Uzbekistan',inplace=True)
ndf_55['value'].replace('188','Vanuatu',inplace=True)
ndf_55['value'].replace('189','Venezuela',inplace=True)
ndf_55['value'].replace('190','Vietnam',inplace=True)
ndf_55['value'].replace('191','Yemen',inplace=True)
ndf_55['value'].replace('192','Zambia',inplace=True)
ndf_55['value'].replace('193','Zimbabwe',inplace=True)
### 56
filter = ndf["Group"] == 56
ndf_56 = ndf[filter]
ndf_56['value'].replace('1','Afghanistan',inplace=True)
ndf_56['value'].replace('2','Albania',inplace=True)
ndf_56['value'].replace('3','Algeria',inplace=True)
ndf_56['value'].replace('4','Andorra',inplace=True)
ndf_56['value'].replace('5','Angola',inplace=True)
ndf_56['value'].replace('6','Antigua and Barbuda',inplace=True)
ndf_56['value'].replace('7','Argentina',inplace=True)
ndf_56['value'].replace('8','Armenia',inplace=True)
ndf_56['value'].replace('9','Australia',inplace=True)
ndf_56['value'].replace('10','Austria',inplace=True)
ndf_56['value'].replace('11','Azerbaijan',inplace=True)
ndf_56['value'].replace('12','Bahamas',inplace=True)
ndf_56['value'].replace('13','Bahrain',inplace=True)
ndf_56['value'].replace('14','Bangladesh',inplace=True)
ndf_56['value'].replace('15','Barbados',inplace=True)
ndf_56['value'].replace('16','Belarus',inplace=True)
ndf_56['value'].replace('17','Belgium',inplace=True)
ndf_56['value'].replace('18','Belize',inplace=True)
ndf_56['value'].replace('19','Benin',inplace=True)
ndf_56['value'].replace('20','Bhutan',inplace=True)
ndf_56['value'].replace('21','Bolivia',inplace=True)
ndf_56['value'].replace('22','Bosnia and Herzegovina',inplace=True)
ndf_56['value'].replace('23','Botswana',inplace=True)
ndf_56['value'].replace('24','Brazil',inplace=True)
ndf_56['value'].replace('25','Brunei',inplace=True)
ndf_56['value'].replace('26','Bulgaria',inplace=True)
ndf_56['value'].replace('27','Burkina Faso',inplace=True)
ndf_56['value'].replace('28','Burundi',inplace=True)
ndf_56['value'].replace('29','Cabo Verde',inplace=True)
ndf_56['value'].replace('30','Cambodia',inplace=True)
ndf_56['value'].replace('31','Cameroon',inplace=True)
ndf_56['value'].replace('32','Canada',inplace=True)
ndf_56['value'].replace('33','Central African Republic',inplace=True)
ndf_56['value'].replace('34','Chad',inplace=True)
ndf_56['value'].replace('35','Chile',inplace=True)
ndf_56['value'].replace('36','People s Republic of China',inplace=True)
ndf_56['value'].replace('37','Colombia',inplace=True)
ndf_56['value'].replace('38','Comoros',inplace=True)
ndf_56['value'].replace('39','Congo, Republic of the',inplace=True)
ndf_56['value'].replace('40','Costa Rica',inplace=True)
ndf_56['value'].replace('41','Cote de Ivoire',inplace=True)
ndf_56['value'].replace('42','Croatia',inplace=True)
ndf_56['value'].replace('43','Cuba',inplace=True)
ndf_56['value'].replace('44','Curacao',inplace=True)
ndf_56['value'].replace('45','Cyprus',inplace=True)
ndf_56['value'].replace('46','Czech Republic',inplace=True)
ndf_56['value'].replace('47','Democratic Republic of congo',inplace=True)
ndf_56['value'].replace('48','Denmark',inplace=True)
ndf_56['value'].replace('49','Djibouti',inplace=True)
ndf_56['value'].replace('50','Dominica',inplace=True)
ndf_56['value'].replace('51','Dominican Republic',inplace=True)
ndf_56['value'].replace('52','Ecuador',inplace=True)
ndf_56['value'].replace('53','Egypt',inplace=True)
ndf_56['value'].replace('54','El Salvador',inplace=True)
ndf_56['value'].replace('55','Equatorial Guinea',inplace=True)
ndf_56['value'].replace('56','Eritrea',inplace=True)
ndf_56['value'].replace('57','Estonia',inplace=True)
ndf_56['value'].replace('58','Ethiopia',inplace=True)
ndf_56['value'].replace('59','Fiji',inplace=True)
ndf_56['value'].replace('60','Finland',inplace=True)
ndf_56['value'].replace('61','France',inplace=True)
ndf_56['value'].replace('62','Gabon',inplace=True)
ndf_56['value'].replace('63','Gambia, The',inplace=True)
ndf_56['value'].replace('64','Georgia',inplace=True)
ndf_56['value'].replace('65','Germany',inplace=True)
ndf_56['value'].replace('66','Ghana',inplace=True)
ndf_56['value'].replace('67','Greece',inplace=True)
ndf_56['value'].replace('68','Grenada',inplace=True)
ndf_56['value'].replace('69','Guatemala',inplace=True)
ndf_56['value'].replace('70','Guinea',inplace=True)
ndf_56['value'].replace('71','Guinea-Bissau',inplace=True)
ndf_56['value'].replace('72','Guyana',inplace=True)
ndf_56['value'].replace('73','Haiti',inplace=True)
ndf_56['value'].replace('74','Honduras',inplace=True)
ndf_56['value'].replace('75','Hong Kong',inplace=True)
ndf_56['value'].replace('76','Hungary',inplace=True)
ndf_56['value'].replace('77','Iceland',inplace=True)
ndf_56['value'].replace('78','India',inplace=True)
ndf_56['value'].replace('79','Indonesia',inplace=True)
ndf_56['value'].replace('80','Iran',inplace=True)
ndf_56['value'].replace('81','Iraq',inplace=True)
ndf_56['value'].replace('82','Ireland',inplace=True)
ndf_56['value'].replace('83','Israel',inplace=True)
ndf_56['value'].replace('84','Italy',inplace=True)
ndf_56['value'].replace('85','Jamaica',inplace=True)
ndf_56['value'].replace('86','Japan',inplace=True)
ndf_56['value'].replace('87','Jordan',inplace=True)
ndf_56['value'].replace('88','Kazakhstan',inplace=True)
ndf_56['value'].replace('89','Kenya',inplace=True)
ndf_56['value'].replace('90','Kiribati',inplace=True)
ndf_56['value'].replace('91','Kuwait',inplace=True)
ndf_56['value'].replace('92','Kyrgyzstan',inplace=True)
ndf_56['value'].replace('93','Laos',inplace=True)
ndf_56['value'].replace('94','Latvia',inplace=True)
ndf_56['value'].replace('95','Lebanon',inplace=True)
ndf_56['value'].replace('96','Lesotho',inplace=True)
ndf_56['value'].replace('97','Liberia',inplace=True)
ndf_56['value'].replace('98','Libya',inplace=True)
ndf_56['value'].replace('99','Liechtenstein',inplace=True)
ndf_56['value'].replace('100','Lithuania',inplace=True)
ndf_56['value'].replace('101','Luxembourg',inplace=True)
ndf_56['value'].replace('102','Madagascar',inplace=True)
ndf_56['value'].replace('103','Malawi',inplace=True)
ndf_56['value'].replace('104','Malaysia',inplace=True)
ndf_56['value'].replace('105','Maldives',inplace=True)
ndf_56['value'].replace('106','Mali',inplace=True)
ndf_56['value'].replace('107','Malta',inplace=True)
ndf_56['value'].replace('108','Marshall Islands',inplace=True)
ndf_56['value'].replace('109','Mauritania',inplace=True)
ndf_56['value'].replace('110','Mauritius',inplace=True)
ndf_56['value'].replace('111','Mexico',inplace=True)
ndf_56['value'].replace('112','Micronesia, Federated States of',inplace=True)
ndf_56['value'].replace('113','Monaco',inplace=True)
ndf_56['value'].replace('114','Mongolia',inplace=True)
ndf_56['value'].replace('115','Montenegro',inplace=True)
ndf_56['value'].replace('116','Morocco',inplace=True)
ndf_56['value'].replace('117','Mozambique',inplace=True)
ndf_56['value'].replace('118','Myanmar',inplace=True)
ndf_56['value'].replace('119','Namibia',inplace=True)
ndf_56['value'].replace('120','Nauru',inplace=True)
ndf_56['value'].replace('121','Nepal',inplace=True)
ndf_56['value'].replace('122','Netherlands',inplace=True)
ndf_56['value'].replace('123','New Zealand',inplace=True)
ndf_56['value'].replace('124','Nicaragua',inplace=True)
ndf_56['value'].replace('125','Niger',inplace=True)
ndf_56['value'].replace('126','Nigeria',inplace=True)
ndf_56['value'].replace('127','Norway',inplace=True)
ndf_56['value'].replace('128','Oman',inplace=True)
ndf_56['value'].replace('129','Pakistan',inplace=True)
ndf_56['value'].replace('130','Palau',inplace=True)
ndf_56['value'].replace('131','Panama',inplace=True)
ndf_56['value'].replace('132','Papua New Guinea',inplace=True)
ndf_56['value'].replace('133','Paraguay',inplace=True)
ndf_56['value'].replace('134','Peru',inplace=True)
ndf_56['value'].replace('135','Philippines',inplace=True)
ndf_56['value'].replace('136','Poland',inplace=True)
ndf_56['value'].replace('137','Portugal',inplace=True)
ndf_56['value'].replace('138','Qatar',inplace=True)
ndf_56['value'].replace('139','Republic of Korea',inplace=True)
ndf_56['value'].replace('140','Republic of Moldova',inplace=True)
ndf_56['value'].replace('141','Romania',inplace=True)
ndf_56['value'].replace('142','Russia',inplace=True)
ndf_56['value'].replace('143','Rwanda',inplace=True)
ndf_56['value'].replace('144','Saint Kitts and Nevis',inplace=True)
ndf_56['value'].replace('145','Saint Lucia',inplace=True)
ndf_56['value'].replace('146','Saint Vincent and the Grenadines',inplace=True)
ndf_56['value'].replace('147','Samoa',inplace=True)
ndf_56['value'].replace('148','San Marino',inplace=True)
ndf_56['value'].replace('149','Sao Tome and Principe',inplace=True)
ndf_56['value'].replace('150','Saudi Arabia',inplace=True)
ndf_56['value'].replace('151','Senegal',inplace=True)
ndf_56['value'].replace('152','Serbia',inplace=True)
ndf_56['value'].replace('153','Seychelles',inplace=True)
ndf_56['value'].replace('154','Sierra Leone',inplace=True)
ndf_56['value'].replace('155','Singapore',inplace=True)
ndf_56['value'].replace('156','Slovakia',inplace=True)
ndf_56['value'].replace('157','Slovenia',inplace=True)
ndf_56['value'].replace('158','Solomon Islands',inplace=True)
ndf_56['value'].replace('159','Somalia',inplace=True)
ndf_56['value'].replace('160','South Africa',inplace=True)
ndf_56['value'].replace('161','Spain',inplace=True)
ndf_56['value'].replace('162','Sri Lanka',inplace=True)
ndf_56['value'].replace('163','Sudan',inplace=True)
ndf_56['value'].replace('164','Suriname',inplace=True)
ndf_56['value'].replace('165','Swaziland',inplace=True)
ndf_56['value'].replace('166','Sweden',inplace=True)
ndf_56['value'].replace('167','Switzerland',inplace=True)
ndf_56['value'].replace('168','Syria',inplace=True)
ndf_56['value'].replace('169','Tajikistan',inplace=True)
ndf_56['value'].replace('170','Thailand',inplace=True)
ndf_56['value'].replace('171','Macedonia',inplace=True)
ndf_56['value'].replace('172','Timor-Leste',inplace=True)
ndf_56['value'].replace('173','Togo',inplace=True)
ndf_56['value'].replace('174','Tonga',inplace=True)
ndf_56['value'].replace('175','Trinidad and Tobago',inplace=True)
ndf_56['value'].replace('176','Tunisia',inplace=True)
ndf_56['value'].replace('177','Turkey',inplace=True)
ndf_56['value'].replace('178','Turkmenistan',inplace=True)
ndf_56['value'].replace('179','Tuvalu',inplace=True)
ndf_56['value'].replace('180','Uganda',inplace=True)
ndf_56['value'].replace('181','Ukraine',inplace=True)
ndf_56['value'].replace('182','United Arab Emirates',inplace=True)
ndf_56['value'].replace('183','United Kingdom',inplace=True)
ndf_56['value'].replace('184','Tanzania',inplace=True)
ndf_56['value'].replace('185','United States',inplace=True)
ndf_56['value'].replace('186','Uruguay',inplace=True)
ndf_56['value'].replace('187','Uzbekistan',inplace=True)
ndf_56['value'].replace('188','Vanuatu',inplace=True)
ndf_56['value'].replace('189','Venezuela',inplace=True)
ndf_56['value'].replace('190','Vietnam',inplace=True)
ndf_56['value'].replace('191','Yemen',inplace=True)
ndf_56['value'].replace('192','Zambia',inplace=True)
ndf_56['value'].replace('193','Zimbabwe',inplace=True)
### 30
filter = ndf["Group"] == 30
ndf_30 = ndf[filter]
ndf_30['value'].replace('1','Yes12',inplace=True)
ndf_30['value'].replace('2','No12',inplace=True)
ndf_30['value'].replace('3','Do not know12',inplace=True)
### 36
filter = ndf["Group"] == 36
ndf_36 = ndf[filter]
ndf_36['value'].replace('1','1 year',inplace=True)
ndf_36['value'].replace('2','2 years',inplace=True)
ndf_36['value'].replace('3','3 years',inplace=True)
ndf_36['value'].replace('4','4 years',inplace=True)
ndf_36['value'].replace('5','5 years',inplace=True)
ndf_36['value'].replace('6','6+ years',inplace=True)
### 60
filter = ndf["Group"] == 60
ndf_60 = ndf[filter]
ndf_60['value'].replace('1','Male',inplace=True)
ndf_60['value'].replace('2','Female',inplace=True)
ndf_60['value'].replace('3','Gender non-binary',inplace=True)
ndf_60['value'].replace('4','Prefer not to say',inplace=True)
mndf = pd.concat([ndf_33, ndf_34, ndf_35, ndf_36, ndf_60, ndf_37, ndf_39, ndf_20, ndf_44, ndf_46, ndf_47, ndf_48, ndf_49, ndf_51, ndf_52, ndf_55, ndf_56, ndf_2, ndf_4, ndf_5, ndf_7, ndf_23, ndf_10, ndf_11, ndf_12, ndf_14, ndf_15, ndf_25, ndf_30]).reset_index()

In [5]:
# for line charts, gender annotations
general_metadata = metadata[metadata['Tag'] == 'General']
gendf = mndf
gendf['Group'] = gendf['Group'].map(str)
filter = gendf["Group"] == '60'
ngendf = gendf[filter]
gendfx = ngendf[['id', 'Option']].copy()
#filter all empty strings from values
mndf["value"] = mndf["value"].map(str)
mndf['value'].replace(' ', np.nan, inplace=True)
mndf= mndf.dropna(subset=['value'])
mndf['Option'] = mndf["value"] # assign option to value

In [6]:
# all non composites
gr_df = pd.read_csv("/home/mrinalmanu/Documents/iglas_le/T_ALL_THIS_ONE.csv", low_memory=False)
non_comp_df = gr_df
#filter all empty strings from values
non_comp_df["value"] = non_comp_df["value"].map(str)
filter = non_comp_df["value"] != ' '
ndf = non_comp_df[filter]
filter = ndf["Composite"] == 'No'
new_df = ndf[filter]
new_df['Composite'].unique()
nndf = new_df
nndf['value'].replace(' ', np.nan, inplace=True)
nndf= nndf.dropna(subset=['value'])

In [7]:
# All continuous
gr_df = pd.read_csv("/home/mrinalmanu/Documents/iglas_le/T_ALL_THIS_ONE.csv", low_memory=False)
non_comp_df = gr_df
#filter all empty strings from values
non_comp_df["value"] = non_comp_df["value"].map(str)
filter = non_comp_df["value"] != ' '
ndf = non_comp_df[filter]
filter = ndf["Composite"] == 'Continuous'
new_df = ndf[filter]
new_df['Composite'].unique()
cmndf = new_df
#filter all empty strings from values
cmndf["value"] = cmndf["value"].map(str)
cmndf['value'].replace(' ', np.nan, inplace=True)
cmndf= cmndf.dropna(subset=['value'])
cmndf['Option'] = cmndf["value"] # assign option to value

In [8]:
# all specials
gr_df = pd.read_csv("/home/mrinalmanu/Documents/iglas_le/T_ALL_THIS_ONE.csv", low_memory=False)
non_comp_df = gr_df
#filter all empty strings from values
non_comp_df["value"] = non_comp_df["value"].map(str)
filter = non_comp_df["value"] != ' '
ndf = non_comp_df[filter]
filter = ndf["Composite"] == 'Special'
new_df = ndf[filter]
new_df['Composite'].unique()
specialdf = new_df
specialdf['value'].replace('+','Positive',inplace=True)
specialdf['value'].replace('-','Negative',inplace=True)
specialdf['Option'] = specialdf['value']

In [9]:
## All together
large_df = pd.concat([mndf, nndf, cmndf, specialdf]).reset_index()

# Sankey - overall

## prep and qc (show)

In [10]:
import plotly.graph_objects as go

In [11]:
pdx =large_df

In [12]:
len(pdx)

80116

### filter by progress at 75, sample group as Russian, variable types as GR, groups in ['22','23','24','25','27','28','41','30'] - 24, 25, 27 == for here, overall

In [13]:
# filter progress
pdx["Progress"] = pdx["Progress"].map(int)
filter = pdx["Progress"] >= 75
ndf = pdx[filter]

In [14]:
len(ndf)

63296

In [15]:
# language filter
ndf["UserLanguage"] = ndf["UserLanguage"].map(str)
filter = ndf["UserLanguage"] == 'RU'
ndf = ndf[filter]

In [16]:
len(ndf)

50296

In [17]:
# tag filter
select = ['GR']
ndf["Tag"] = ndf["Tag"].map(str)
ndf = ndf[ndf['Tag'].isin(select)]

In [18]:
len(ndf)

9949

In [19]:
# Composite filter

select = ['Special', 'Continuous']
ndf["Composite"] = ndf["Composite"].map(str)
ndf = ndf[~ndf['Composite'].isin(select)]

In [20]:
# group filter

select = ['55','56','29','30']
ndf["Group"] = ndf["Group"].map(str)
ndf = ndf[~ndf['Group'].isin(select)]

select = ['25', '26', '27']
ndf["Group"] = ndf["Group"].map(str)
ndf = ndf[ndf['Group'].isin(select)]

In [21]:
len(ndf)

2637

Create a new column and codify each unique value and populate by the unique value.
Group data frame by id and get stacked list of options.


Population:
    1) Get the length of list of options
    2) get stacked list of codified options

In [22]:
ndf

,level_0,index,id,Progress,UserLanguage,Collection,value,Variable,Description,Option,Group,Composite,Tag
24370,24370,446661.0,0,100,RU,Pilot,Yes1,LE3.141,Genetic data of our first degree blood relativ...,Yes1,25,Yes,GR
24371,24371,446663.0,1,100,RU,Pilot,Yes1,LE3.141,Genetic data of our first degree blood relativ...,Yes1,25,Yes,GR
24372,24372,446671.0,5,100,RU,Pilot,Do not know1,LE3.141,Genetic data of our first degree blood relativ...,Do not know1,25,Yes,GR
24380,24380,446689.0,14,100,RU,Pilot,Yes1,LE3.141,Genetic data of our first degree blood relativ...,Yes1,25,Yes,GR
24393,24393,446719.0,29,100,RU,Pilot,Yes1,LE3.141,Genetic data of our first degree blood relativ...,Yes1,25,Yes,GR
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31069,206465,NaN,1346,99,RU,FEFU,Other,LE2.130,What concerns do participants have in relation...,Other,27,No,GR
31071,206618,NaN,1499,100,RU,Moscow Law Students,Other,LE2.130,What concerns do participants have in relation...,Other,27,No,GR
31072,206707,NaN,1588,100,RU,Moscow Law Students,Other,LE2.130,What concerns do participants have in relation...,Other,27,No,GR
31073,206721,NaN,1602,100,RU,Moscow Law Students,Other,LE2.130,What concerns do participants have in relation...,Other,27,No,GR
31074,206764,NaN,1645,100,RU,Moscow Law Students,Other,LE2.130,What concerns do participants have in relation...,Other,27,No,GR

In [23]:
sources = ndf[['id', 'Option']].copy()

### code addition with number of participants

I need to make categorical codes beyond the number of users, to prevent confusion with user IDs. I will simply add, number of participants to the the categorical codes.

In [24]:
len_options = len(ndf.Option.unique())
len_options

12

In [25]:
len_ids = len(ndf.id.unique()) +1
len_ids

960

In [26]:
ranges = list(range(len_ids, len_ids+len_options))

In [27]:
ranges

[960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971]

In [28]:
len(ranges) == len(ndf.Option.unique())

True

In [29]:
options = ndf.Option.unique()

In [30]:
options

array(['Yes1', 'Do not know1', 'No1',
       'Do not know who will have access to that information',
       'Do not know whether the data will be stored securely',
       'I would rather not know of any potential debilitating diseases that I may develop in the future',
       'I am not interested',
       'I am worried that I might find out something about myself I would rather not know',
       'I would not want to be labelled as having any deficiency',
       'I am worried some information about my physical or mental health could be used against me for example employment; legal matters; obtaining insurance',
       'I am concerned my data will be used for other purposes without my knowledge',
       'Other'], dtype=object)

In [31]:
# get categorical codes
categories = dict(zip(options,ranges))

In [32]:
categories

{'Yes1': 960,
 'Do not know1': 961,
 'No1': 962,
 'Do not know who will have access to that information': 963,
 'Do not know whether the data will be stored securely': 964,
 'I would rather not know of any potential debilitating diseases that I may develop in the future': 965,
 'I am not interested': 966,
 'I am worried that I might find out something about myself I would rather not know': 967,
 'I would not want to be labelled as having any deficiency': 968,
 'I am worried some information about my physical or mental health could be used against me for example employment; legal matters; obtaining insurance': 969,
 'I am concerned my data will be used for other purposes without my knowledge': 970,
 'Other': 971}

In [33]:
sources['codes'] = sources['Option'].map(categories)

In [34]:
xtt=pd.DataFrame()
xtt = sources[['Option', 'codes']].copy()

In [35]:
# get source codes and counts
sources['codes'] = sources['codes'].map(str)
counts = sources.groupby(["id"])["codes"].agg(lambda x: """','""".join(x[x != ''])).reset_index()
nx = ("""'"""+counts['codes'].astype(str)+"""'""").apply(lambda x: pd.Series(x)).stack().reset_index() # convert string to series
counts['xcodes'] = nx.iloc[:,2]

In [36]:
gcounts = sources.groupby(["id"])["Option"].agg(lambda x: """','""".join(x[x != ''])).reset_index()
nx = ("""'"""+gcounts['Option'].astype(str)+"""'""").apply(lambda x: pd.Series(x)).stack().reset_index() # convert string to series
gcounts['xoption'] = nx.iloc[:,2]
gcounts
lel = pd.merge(counts, gcounts, on='id')
del lel['codes']
del lel['Option']
lel

,id,xcodes,xoption
0,0,"'960','971'","'Yes1','Other'"
1,1,"'960','963','964','967'","'Yes1','Do not know who will have access to th..."
2,3,"'963','964','970'",'Do not know who will have access to that info...
3,5,"'961','964','970'","'Do not know1','Do not know whether the data w..."
4,14,"'960','963','964','969','970'","'Yes1','Do not know who will have access to th..."
...,...,...,...
954,1875,'970','I am concerned my data will be used for other...
955,1885,"'963','970'",'Do not know who will have access to that info...
956,1886,"'963','964','970'",'Do not know who will have access to that info...
957,1887,"'969','970'",'I am worried some information about my physic...
958,1888,"'963','965','970'",'Do not know who will have access to that info...

In [37]:
# writing operations
wo = []
for i in range(len(counts['xcodes'])) : 
    wo.append(pd.Series(counts.iloc[i, 2]).apply(ast.literal_eval).apply(lambda x: pd.Series(x)).stack().value_counts())
# value counts df
vc = pd.DataFrame(wo)
# counts
cxounts = pd.concat([lel, vc], axis=1)

In [38]:
lex = cxounts.set_index(['id','xcodes', 'xoption']).stack().reset_index()
lex['counts'] = lex[0]
lex['codes'] = lex['level_3']
del lex[0]
del lex['level_3']

In [39]:
lex

,id,xcodes,xoption,counts,codes
0,0,"'960','971'","'Yes1','Other'",1.0,960
1,0,"'960','971'","'Yes1','Other'",1.0,971
2,1,"'960','963','964','967'","'Yes1','Do not know who will have access to th...",1.0,960
3,1,"'960','963','964','967'","'Yes1','Do not know who will have access to th...",1.0,963
4,1,"'960','963','964','967'","'Yes1','Do not know who will have access to th...",1.0,964
...,...,...,...,...,...
2632,1887,"'969','970'",'I am worried some information about my physic...,1.0,970
2633,1887,"'969','970'",'I am worried some information about my physic...,1.0,969
2634,1888,"'963','965','970'",'Do not know who will have access to that info...,1.0,963
2635,1888,"'963','965','970'",'Do not know who will have access to that info...,1.0,970
2636,1888,"'963','965','970'",'Do not know who will have access to that info...,1.0,965

In [40]:
# paths
lex['path'] = """'""" + lex["id"].astype(str)+"',"+lex["xcodes"]
lex['label'] = """'""" + lex["id"].astype(str)+"',"+lex["xoption"]
lex['path'] = lex['path'].str.replace("""'""", '')
lex['label'] = lex['label'].str.replace("""'""", '')
lex

,id,xcodes,xoption,counts,codes,path,label
0,0,"'960','971'","'Yes1','Other'",1.0,960,"0,960,971","0,Yes1,Other"
1,0,"'960','971'","'Yes1','Other'",1.0,971,"0,960,971","0,Yes1,Other"
2,1,"'960','963','964','967'","'Yes1','Do not know who will have access to th...",1.0,960,"1,960,963,964,967","1,Yes1,Do not know who will have access to tha..."
3,1,"'960','963','964','967'","'Yes1','Do not know who will have access to th...",1.0,963,"1,960,963,964,967","1,Yes1,Do not know who will have access to tha..."
4,1,"'960','963','964','967'","'Yes1','Do not know who will have access to th...",1.0,964,"1,960,963,964,967","1,Yes1,Do not know who will have access to tha..."
...,...,...,...,...,...,...,...
2632,1887,"'969','970'",'I am worried some information about my physic...,1.0,970,"1887,969,970","1887,I am worried some information about my ph..."
2633,1887,"'969','970'",'I am worried some information about my physic...,1.0,969,"1887,969,970","1887,I am worried some information about my ph..."
2634,1888,"'963','965','970'",'Do not know who will have access to that info...,1.0,963,"1888,963,965,970","1888,Do not know who will have access to that ..."
2635,1888,"'963','965','970'",'Do not know who will have access to that info...,1.0,970,"1888,963,965,970","1888,Do not know who will have access to that ..."
2636,1888,"'963','965','970'",'Do not know who will have access to that info...,1.0,965,"1888,963,965,970","1888,Do not know who will have access to that ..."

In [41]:
lex["counts"] = lex["counts"].map(int)
lex

,id,xcodes,xoption,counts,codes,path,label
0,0,"'960','971'","'Yes1','Other'",1,960,"0,960,971","0,Yes1,Other"
1,0,"'960','971'","'Yes1','Other'",1,971,"0,960,971","0,Yes1,Other"
2,1,"'960','963','964','967'","'Yes1','Do not know who will have access to th...",1,960,"1,960,963,964,967","1,Yes1,Do not know who will have access to tha..."
3,1,"'960','963','964','967'","'Yes1','Do not know who will have access to th...",1,963,"1,960,963,964,967","1,Yes1,Do not know who will have access to tha..."
4,1,"'960','963','964','967'","'Yes1','Do not know who will have access to th...",1,964,"1,960,963,964,967","1,Yes1,Do not know who will have access to tha..."
...,...,...,...,...,...,...,...
2632,1887,"'969','970'",'I am worried some information about my physic...,1,970,"1887,969,970","1887,I am worried some information about my ph..."
2633,1887,"'969','970'",'I am worried some information about my physic...,1,969,"1887,969,970","1887,I am worried some information about my ph..."
2634,1888,"'963','965','970'",'Do not know who will have access to that info...,1,963,"1888,963,965,970","1888,Do not know who will have access to that ..."
2635,1888,"'963','965','970'",'Do not know who will have access to that info...,1,970,"1888,963,965,970","1888,Do not know who will have access to that ..."
2636,1888,"'963','965','970'",'Do not know who will have access to that info...,1,965,"1888,963,965,970","1888,Do not know who will have access to that ..."

In [42]:
## paths and sources

path_list = list(lex.path.unique())
label_list = list(lex.xoption.unique())

In [43]:
def zigzag(seq):
    """Return two sequences with alternating elements from `seq`"""
    x, y = [], []
    p, q = x, y
    for e in seq:
        p.append(e)
        p, q = q, p
    return x, y

# flatten list function

def flatten_list(_2d_list):
    flat_list = []
    # Iterate through the outer list
    for element in _2d_list:
        if type(element) is list:
            # If the element is of type list, iterate through the sublist
            for item in element:
                flat_list.append(item)
        else:
            flat_list.append(element)
    return flat_list

In [44]:
# get a path graph
y = []
for i in range(len(path_list)):
    y.append(list(path_list[i].split(',')))

big_df = pd.DataFrame()

big_list = []
for i in range(len(y)):
    a, b = list(zip(zigzag(y[i])))
    zig = flatten_list(a)
    zag = flatten_list(b)
    q = list(zip(zig, zag))
    big_list.append(q)

big_df = pd.DataFrame(flatten_list(big_list))

In [45]:
mapping_dict = dict(zip(sources['codes'].map(str), sources['Option'].map(str)))
big_df['Option'] = big_df[1].map(str)
big_df.Option = big_df.Option.replace(mapping_dict)

In [46]:
import random
# generate random colours
amount = len(big_df.Option.unique())
colour = []

for i in range(0, amount):
    colour.append("#%06x" % random.randint(i, 0xFFFFFF))

In [47]:
cls = pd.DataFrame()
cls['Option'] = big_df.Option.unique()
cls['Colour'] = pd.DataFrame(colour)
cls

                                               Option   Colour
0                                                Yes1  #0c2cf3
1   Do not know whether the data will be stored se...  #9c39f4
2   Do not know who will have access to that infor...  #125a4a
3   I am concerned my data will be used for other ...  #d29859
4                                        Do not know1  #d27be4
5   I am worried some information about my physica...  #37cf7a
6                                               Other  #cd55e4
7   I would not want to be labelled as having any ...  #6ea8c9
8   I am worried that I might find out something a...  #bc6347
9                                                 No1  #106ae0
10  I would rather not know of any potential debil...  #3c033a
11                                I am not interested  #eb8c0d

In [48]:
big_df['Colour'] = big_df.Option

big_df

,0,1,Option,Colour
0,0,960,Yes1,Yes1
1,1,960,Yes1,Yes1
2,963,964,Do not know whether the data will be stored se...,Do not know whether the data will be stored se...
3,3,963,Do not know who will have access to that infor...,Do not know who will have access to that infor...
4,964,970,I am concerned my data will be used for other ...,I am concerned my data will be used for other ...
...,...,...,...,...
1587,1886,963,Do not know who will have access to that infor...,Do not know who will have access to that infor...
1588,964,970,I am concerned my data will be used for other ...,I am concerned my data will be used for other ...
1589,1887,969,I am worried some information about my physica...,I am worried some information about my physica...
1590,1888,963,Do not know who will have access to that infor...,Do not know who will have access to that infor...
1591,965,970,I am concerned my data will be used for other ...,I am concerned my data will be used for other ...

In [49]:
nbig_df = pd.merge(big_df, cls, on='Option')
nbig_df['Colour'] = nbig_df.Colour_y
del nbig_df['Colour_x']
del nbig_df['Colour_y']
nbig_df

         0    1               Option   Colour
0        0  960                 Yes1  #0c2cf3
1        1  960                 Yes1  #0c2cf3
2       14  960                 Yes1  #0c2cf3
3       29  960                 Yes1  #0c2cf3
4       37  960                 Yes1  #0c2cf3
...    ...  ...                  ...      ...
1587  1773  966  I am not interested  #eb8c0d
1588  1776  966  I am not interested  #eb8c0d
1589  1796  966  I am not interested  #eb8c0d
1590  1806  966  I am not interested  #eb8c0d
1591  1871  966  I am not interested  #eb8c0d

[1592 rows x 4 columns]

### IMP! filter for connections: here less than 100 counts are discarded (change the number of filters here - for Overall network, I am putting 5% filter i.e. 100 counts)

In [50]:
# quick value counting

#### Counting

cdf = pdx.groupby(["Group", "Description", "Composite", "Tag", "Variable"])["Option"].agg(lambda x: """','""".join(x[x != ''])).reset_index()
nx = ("""'"""+cdf['Option'].astype(str)+"""'""").apply(lambda x: pd.Series(x)).stack().reset_index() # convert string to series
cdf['rating'] = nx.iloc[:,2]

wo = []
for i in range(len(cdf['rating'])) : 
    wo.append(pd.Series(cdf.iloc[i, 6]).apply(ast.literal_eval).apply(lambda x: pd.Series(x)).stack().value_counts())

    
vc = pd.DataFrame(wo)
ndfx = pd.concat([cdf, vc], axis=1)
del ndfx['Option']


hr = pd.read_csv("/home/mrinalmanu/Documents/iglas_le/metadata.csv", sep=':', low_memory=False)
del hr["Description"]
del hr["Group"]
del hr["Composite"]
del hr["Tag"]
t_hr = pd.merge(ndfx, hr, on='Variable')
del t_hr["rating"]

del t_hr["Variable"]
del t_hr["Option"]



lex = t_hr.set_index(['Group','Description', 'Composite', 'Tag']).stack().reset_index()
# rename columns 2 and 3



lex["Option"] = lex['level_4']
lex["Count"] = lex[0]

del lex['level_4']
del lex[0]


snorlex = lex
xn = snorlex.groupby(['Group','Description', 'Option'])['Count'].mean().round(2).reset_index()

In [51]:
filter = xn["Count"] >= 100
nxn = xn[filter]
nxn

,Group,Description,Option,Count
0,1,What information can be obtained from your gen...,Ancestry,205.0
1,1,What information can be obtained from your gen...,Health,218.0
6,3,How relevant is genetic information to the fol...,Equal access to education,187.0
7,3,How relevant is genetic information to the fol...,Right to a fair trial,183.0
8,3,How relevant is genetic information to the fol...,Right to health and medical care,197.0
...,...,...,...,...
525,56,In which country do you currently live,United Kingdom,111.0
528,60,Gender,Female,1144.0
530,60,Gender,Male,712.0
532,7,Do you think people should have the right to d...,Do not know5,101.0
534,7,Do you think people should have the right to d...,Yes5,1387.0

In [52]:
x = nxn.groupby(['Group','Description', 'Option'])['Count'].mean().round(2)
xf = x.groupby(level=[0, 1]).apply(lambda g: g / g.sum()).round(2).reset_index()

xf

,Group,Description,Option,Count
0,1,What information can be obtained from your gen...,Ancestry,0.48
1,1,What information can be obtained from your gen...,Health,0.52
2,3,How relevant is genetic information to the fol...,Equal access to education,0.13
3,3,How relevant is genetic information to the fol...,Right to a fair trial,0.12
4,3,How relevant is genetic information to the fol...,Right to health and medical care,0.13
...,...,...,...,...
110,56,In which country do you currently live,United Kingdom,0.07
111,60,Gender,Female,0.62
112,60,Gender,Male,0.38
113,7,Do you think people should have the right to d...,Do not know5,0.07
114,7,Do you think people should have the right to d...,Yes5,0.93

In [53]:
# get counts

bdf = nbig_df
bdf['Counts'] = 1
bdfx = bdf.groupby(["Option"])["Counts"].sum().reset_index()
bdff = pd.merge(bdf, bdfx, on='Option')
bdff

         0    1               Option   Colour  Counts_x  Counts_y
0        0  960                 Yes1  #0c2cf3         1        55
1        1  960                 Yes1  #0c2cf3         1        55
2       14  960                 Yes1  #0c2cf3         1        55
3       29  960                 Yes1  #0c2cf3         1        55
4       37  960                 Yes1  #0c2cf3         1        55
...    ...  ...                  ...      ...       ...       ...
1587  1773  966  I am not interested  #eb8c0d         1        62
1588  1776  966  I am not interested  #eb8c0d         1        62
1589  1796  966  I am not interested  #eb8c0d         1        62
1590  1806  966  I am not interested  #eb8c0d         1        62
1591  1871  966  I am not interested  #eb8c0d         1        62

[1592 rows x 6 columns]

### IMP! Dropping everything that starts with the id value

In order to clean the incoming flow.

In [54]:
xtt = xtt.drop_duplicates()
xtt

                                                  Option  codes
24370                                               Yes1    960
24372                                       Do not know1    961
24445                                                No1    962
27181  Do not know who will have access to that infor...    963
27889  Do not know whether the data will be stored se...    964
28518  I would rather not know of any potential debil...    965
28696                                I am not interested    966
28851  I am worried that I might find out something a...    967
29045  I would not want to be labelled as having any ...    968
29341  I am worried some information about my physica...    969
30102  I am concerned my data will be used for other ...    970
31009                                              Other    971

In [55]:
ads = nbig_df
ads[0] = ads[0].map(str)
list_to_remove = list(range(0, len_ids))
string_ints = [str(int) for int in list_to_remove] 
ads = ads[~ads[0].isin(string_ints)]

In [56]:
ads = pd.merge(ads, xtt, on='Option')
ads

,0,1,Option,Colour,Counts,codes
0,963,964,Do not know whether the data will be stored se...,#9c39f4,1,964
1,963,964,Do not know whether the data will be stored se...,#9c39f4,1,964
2,963,964,Do not know whether the data will be stored se...,#9c39f4,1,964
3,963,964,Do not know whether the data will be stored se...,#9c39f4,1,964
4,963,964,Do not know whether the data will be stored se...,#9c39f4,1,964
...,...,...,...,...,...,...
1158,1773,966,I am not interested,#eb8c0d,1,966
1159,1776,966,I am not interested,#eb8c0d,1,966
1160,1796,966,I am not interested,#eb8c0d,1,966
1161,1806,966,I am not interested,#eb8c0d,1,966
1162,1871,966,I am not interested,#eb8c0d,1,966

In [57]:
#ads = ads.drop_duplicates()
ads = ads.drop_duplicates(subset=[0, 1])
ads

,0,1,Option,Colour,Counts,codes
0,963,964,Do not know whether the data will be stored se...,#9c39f4,1,964
24,961,964,Do not know whether the data will be stored se...,#9c39f4,1,964
25,975,964,Do not know whether the data will be stored se...,#9c39f4,1,964
26,978,964,Do not know whether the data will be stored se...,#9c39f4,1,964
27,984,964,Do not know whether the data will be stored se...,#9c39f4,1,964
...,...,...,...,...,...,...
1158,1773,966,I am not interested,#eb8c0d,1,966
1159,1776,966,I am not interested,#eb8c0d,1,966
1160,1796,966,I am not interested,#eb8c0d,1,966
1161,1806,966,I am not interested,#eb8c0d,1,966
1162,1871,966,I am not interested,#eb8c0d,1,966

In [58]:
new_big_df = pd.merge(ads, xn, on='Option')
new_big_df = new_big_df.dropna(how='any')
xdf = new_big_df.drop_duplicates(subset=[0,1])
#xdf = new_big_df

In [59]:
# remove circular connections

#vdf = xdf[xdf[0] != xdf[1]]
vdf = xdf

### label assignment

The labels are decided according to source values. I will update categories with additional labels. I will replace each item of the sources list with a dictionary to get names of the labels.

In [60]:
cvdf=vdf.reset_index()
cvdf[0] = cvdf[0].map(str)
cvdf[1] = cvdf[1].map(str)
cvdf.drop_duplicates(subset=[0,1],keep=False,inplace=True)

In [61]:
cvdf

,index,0,1,Option,Colour,Counts,codes,Group,Description,Count
0,0,963,964,Do not know whether the data will be stored se...,#9c39f4,1,964,27,What concerns do participants have in relation...,625.0
1,1,961,964,Do not know whether the data will be stored se...,#9c39f4,1,964,27,What concerns do participants have in relation...,625.0
2,2,975,964,Do not know whether the data will be stored se...,#9c39f4,1,964,27,What concerns do participants have in relation...,625.0
3,3,978,964,Do not know whether the data will be stored se...,#9c39f4,1,964,27,What concerns do participants have in relation...,625.0
4,4,984,964,Do not know whether the data will be stored se...,#9c39f4,1,964,27,What concerns do participants have in relation...,625.0
...,...,...,...,...,...,...,...,...,...,...
552,734,1773,966,I am not interested,#eb8c0d,1,966,27,What concerns do participants have in relation...,165.0
553,735,1776,966,I am not interested,#eb8c0d,1,966,27,What concerns do participants have in relation...,165.0
554,736,1796,966,I am not interested,#eb8c0d,1,966,27,What concerns do participants have in relation...,165.0
555,737,1806,966,I am not interested,#eb8c0d,1,966,27,What concerns do participants have in relation...,165.0
556,738,1871,966,I am not interested,#eb8c0d,1,966,27,What concerns do participants have in relation...,165.0

In [62]:
cvdf = cvdf.sort_values(0)

nranges = list(range(0, len_ids))
nxt = dict(zip(str(nranges),str(nranges)))
prev = categories # labels beyond id list
prev.update(nxt)
prev = {str(v): str(k) for k, v in prev.items()}

In [63]:
sources = list(cvdf[0])
targets = list(cvdf[1])
values = list(cvdf['Count'])
labels = list(cvdf['Option'])
colours = list(cvdf['Colour'])

In [64]:
descriptions = list(cvdf['Description'])

my_list = sources
replaced_list = [x if x not in prev else prev[x] for x in my_list]
labels = replaced_list

### sankey main (show)


fig = go.Figure(data=[go.Sankey(
    node = dict(
      pad = 10,
      thickness = 10,
      line = dict(color = "red", width =10),
      label = labels,
      color = "black"
    ),
    link = dict(
      source = sources, # indices correspond to labels, eg A1, A2, A1, B1, ...
      target = targets,
    value=values
  ))])

In [65]:
fig = go.Figure(data=[go.Sankey(
    node = dict(
      pad = 4,
      thickness = 1,
      line = dict(color = 'red', width = 10),
      label = labels,
      customdata = labels,
      hovertemplate='Source has total value %{value}<extra></extra>',
      color = 'blue',
    ),
    link = dict(
      source = sources, # indices correspond to labels, eg A1, A2, A2, B1, ...
      target = targets,
      value = values,
      customdata = labels,
        color = colours,
      hovertemplate='Count: %{value}'+
        '<br />Option: %{customdata}<extra></extra>'
  ))])

go.Layout(title='Sankey plot',
          #other options for the plot
           hoverlabel=dict(font=dict(family='sans-serif', size=100)))


fig = fig.update_layout(margin=dict(t=100))

In [70]:
fig.write_html("/home/mrinalmanu/Documents/iglas_le/Selected_CLEAR_25_26_27_sankey.html")

# Graph approach

In [66]:
from pyvis.network import Network
from itertools import combinations
import networkx as nx
import nxviz as nv

In [67]:
df_graph = cvdf
df_graph['From'] = df_graph[0]
df_graph['To'] = df_graph['Option']

In [68]:

G = nx.from_pandas_edgelist(
    df_graph, source="From", target="To", edge_attr="Count"
)

In [69]:

# dynamic node sizes

scale=1 # Scaling the size of the nodes by 10*degree
d = dict(G.degree)

#Updating dict
d.update((x, scale*y) for x, y in d.items())

#Setting up size attribute
nx.set_node_attributes(G,d,'size')

G2 = Network(height="1080px", width="100%",bgcolor="#FFFFFF",font_color="black",directed=True)
G2.from_nx(G)
G2.show_buttons(filter_=['physics'])
G2.show("only_gr_25_26_27.html")

EON